/* Estilos para la línea */
.linea {
    width: 90%; /* Cambiado a 100% */
    position: absolute;
    height: 2px; /* Ajusta el grosor de la línea según necesites */
    top: 11px;
    background-color: black;
    z-index: 1; /* Asegura que la línea esté por encima del párrafo */
}

/* Estilos para el párrafo */
#texto {
    position: relative; /* Establece el contexto de apilamiento para la línea */
}

/* Estilos adicionales para el contenedor de tarea */
.tarea {
    border: 1px solid gray;
    padding: 10px;
    position: relative;
    width: 60%;
    margin: 2px auto;
    font-size: 1.5em;
}

.icono_editar{
    position: absolute;
    top:50px;
    right: 5px;
    color: #999;
}
.icono_editar a{
    text-decoration: none;
    color: #999;
}
.icono_editar a:hover{
    color:#444;
    cursor: pointer;
}
.papelera{
    position: absolute;
    top:10px;
    right: 5px;
    color: #999;
}
.papelera:hover{
    color:#444;
    cursor: pointer;
}
.contenedor {
    text-align: center; /* Centrar elementos hijos horizontalmente */
    max-width: 900px; /* Establece el ancho máximo del contenedor */
    margin: 10px auto; /* Centra el contenedor horizontalmente */
}

#nuevaTarea {
    width: 70%; /* Ajusta el ancho del input al 90% del contenedor */
    padding: 10px; /* Espacio interno */
    border: 2px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

#botonNuevaTarea {
    width: auto; /* Ancho automático */
    padding: 10px 20px; /* Espacio interno */
    background-color: #007bff; /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

#botonNuevaTarea:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}


#botonNuevaTarea:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}


#botonNuevaTarea:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}


#botonNuevaTarea:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

.navbar-custom {
    background-color: #d3f7aee2;
    margin: 0px 0px 15px 0px ;
}

.tituloPagina{
    margin: 5px 10px;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.tarea{
    margin-top: 5px;
    background-color: rgba(246, 255, 201, 0.845);
}
.hecho {
    position: relative;
}

.hecho::after {
    content: '';
    position: absolute;
    top: 50%; /* Ajusta la posición vertical de la línea */
    left: 0;
    width: 100%;
    height: 1px; /* Ajusta el grosor de la línea */
    background-color: black; /* Color de la línea */
    z-index: 1; /* Asegura que la línea esté encima del hr */
}
